@import "tailwindcss";

:root {
  --background: #fdfbf7; /* Warm cream background */
  --foreground: #4a3320; /* Dark warm brown text */
  
  --primary: #b5482f;
  --primary-foreground: #ffffff;
  
  --accent: #f3dd6d;
  --accent-foreground: #4a3320;
  
  --sidebar-background: #f3dd6d;
  --sidebar-foreground: #4a3320;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-sidebar-bg: var(--sidebar-background);
  --color-sidebar-fg: var(--sidebar-foreground);
  
  --font-sans: "Sweet Sans Pro", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply antialiased;
}
